.contactInfo {
  border: 1px solid #4fd5ff;
  border-radius: 10px;
  margin: 0px 10px;

  .callButton {
    --background: #0041a1;
    --color: white;
  }
}

ion-item,
ion-card {
  --background: white;
}
