<app-menu></app-menu>

<ion-content class="ion-padding" *ngIf="!newUser">
  <div class="add-button-div ion-margin">
    <ion-icon
      name="add-outline"
      class="add-button"
      [routerLink]="['/addnew']"
      routerDirection="root"
    ></ion-icon>
  </div>
  <ion-accordion-group class="accordion-element">
    <ion-accordion value="omatTiedot" class="ion-no-padding">
      <ion-item slot="header">
        <ion-icon
          name="home-outline"
          size="large"
          class="ion-padding-end"
        ></ion-icon>
        <ion-label>Omat tiedot</ion-label>
      </ion-item>
      <ion-list slot="content" lines="none">
        <form
          *ngIf="!isLoading"
          [formGroup]="myData"
          (ngSubmit)="updateMyData()"
        >
          <ion-item>
            <ion-text><h3>Muokkaa omia tietoja</h3></ion-text>
          </ion-item>
          <ion-item>
            <ion-note color="tertiary">
              Nämä tiedot näkyvät muille käyttäjille hakuilmoituksessa silloin
              kun haet työtä tai harjoituspaikkaa tai kun tarjoat työtä muille
            </ion-note>
          </ion-item>

          <ion-item class="ion-margin-top">
            <ion-label position="stacked">Yritys:</ion-label>
            <ion-input type="text" formControlName="company"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Etunimi:</ion-label>
            <ion-input type="text" formControlName="firstName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Sukunimi:</ion-label>
            <ion-input type="text" formControlName="lastName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Osoite:</ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Postinumero:</ion-label>
            <ion-input type="text" formControlName="zip"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Postitoimipaikka:</ion-label>
            <ion-input type="text" formControlName="city"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Puhelin:</ion-label>
            <ion-input type="text" formControlName="phone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Email:</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-button color="primary" type="submit" slot="end" size="default"
              >Tallenna</ion-button
            >
          </ion-item>
        </form>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="omaTyonhaku" class="ion-no-padding">
      <ion-item slot="header">
        <ion-icon
          size="large"
          name="hammer-outline"
          class="ion-padding-end"
        ></ion-icon>
        <ion-label>Oma työnhaku</ion-label>
      </ion-item>
      <ion-list slot="content" lines="none">
        <form
          *ngIf="!workDetailsLoading"
          [formGroup]="myWorkSearch"
          (ngSubmit)="updateWorkSearch()"
        >
          <ion-list-header>
            <ion-label>Paikkakunnat: </ion-label>
          </ion-list-header>
          <ion-item class="white-bg ion-no-padding ion-margin-horizontal">
            <ion-item class="icon-bg">
              <ion-icon size="default" name="location-outline"></ion-icon>
            </ion-item>
            <ion-select
              formControlName="locations"
              multiple="true"
              class="ion-padding-start"
              placeholder="Valitse kunnat"
              cancelText="Peruuta"
              okText="OK"
            >
              <ion-select-option value="Akaa">Akaa</ion-select-option>
              <ion-select-option value="Hämeenkyrö"
                >Hämeenkyrö</ion-select-option
              >
              <ion-select-option value="Ikaalinen">Ikaalinen</ion-select-option>
              <ion-select-option value="Juupajoki">Juupajoki</ion-select-option>
              <ion-select-option value="Kangasala">Kangasala</ion-select-option>
              <ion-select-option value="Kihniö">Kihniö</ion-select-option>
              <ion-select-option value="Kuhmoinen">Kuhmoinen</ion-select-option>
              <ion-select-option value="Lempäälä">Lempäälä</ion-select-option>
              <ion-select-option value="Mänttä-Vilppula"
                >Mänttä-Vilppula</ion-select-option
              >
              <ion-select-option value="Nokia">Nokia</ion-select-option>
              <ion-select-option value="Orivesi">Orivesi</ion-select-option>
              <ion-select-option value="Parkano">Parkano</ion-select-option>
              <ion-select-option value="Pirkkala">Pirkkala</ion-select-option>
              <ion-select-option value="Punkalaidun"
                >Punkalaidun</ion-select-option
              >
              <ion-select-option value="Pälkäne">Pälkäne</ion-select-option>
              <ion-select-option value="Ruovesi">Ruovesi</ion-select-option>
              <ion-select-option value="Sastamala">Sastamala</ion-select-option>
              <ion-select-option value="Tampere">Tampere</ion-select-option>
              <ion-select-option value="Urjala">Urjala</ion-select-option>
              <ion-select-option value="Valkeakoski"
                >Valkeakoski</ion-select-option
              >
              <ion-select-option value="Vesilahti">Vesilahti</ion-select-option>
              <ion-select-option value="Virrat">Virrat</ion-select-option>
              <ion-select-option value="Ylöjärvi">Ylöjärvi</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-list-header>
            <ion-label> Valitse päivämäärät:</ion-label>
          </ion-list-header>
          <ion-item class="white-bg ion-no-padding ion-margin-horizontal">
            <ion-calendar
              class="ion-no-padding"
              formControlName="dates"
              [options]="optionsMulti"
              [type]="string"
              [format]="'YYYY-MM-DD'"
            >
            </ion-calendar>
          </ion-item>
          <ion-list-header
            ><ion-label>Muut huomiot:</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-textarea
              formControlName="details"
              autoGrow="false"
              rows="5"
              placeholder="Anna halutessasi lisätietoa.."
            ></ion-textarea>
          </ion-item>
          <div class="ion-text-right ion-padding">
            <ion-button fill="clear" size="default" slots="end"
              >Poista kaikki</ion-button
            >
            <ion-button size="default" type="submit" slots="end"
              >Tallenna</ion-button
            >
          </div>
        </form>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="omatUrakat">
      <ion-item slot="header">
        <ion-icon
          size="large"
          name="construct-outline"
          class="ion-padding-end"
        ></ion-icon>
        <ion-label>Tarjoa työtä</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-label>Urakat tässä:</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="trainee">
      <ion-item slot="header">
        <ion-icon
          size="large"
          name="happy-outline"
          class="ion-padding-end"
        ></ion-icon>
        <ion-label>Etsi harjoittelupaikkaa</ion-label>
      </ion-item>
      <ion-list slot="content" lines="none">
        <form
          *ngIf="!traineeDetailsLoading"
          [formGroup]="traineeData"
          (ngSubmit)="updateTraineeData()"
        >
          <ion-list-header>
            <ion-label>Paikkakunnat: </ion-label>
          </ion-list-header>
          <ion-item class="white-bg ion-no-padding">
            <ion-item class="icon-bg">
              <ion-icon size="default" name="location-outline"></ion-icon>
            </ion-item>
            <ion-select
              formControlName="locations"
              multiple="true"
              class="ion-padding-horizontal"
              placeholder="Valitse kunnat"
              cancelText="Peruuta"
              okText="OK"
            >
              <ion-select-option value="Akaa">Akaa</ion-select-option>
              <ion-select-option value="Hämeenkyrö"
                >Hämeenkyrö</ion-select-option
              >
              <ion-select-option value="Ikaalinen">Ikaalinen</ion-select-option>
              <ion-select-option value="Juupajoki">Juupajoki</ion-select-option>
              <ion-select-option value="Kangasala">Kangasala</ion-select-option>
              <ion-select-option value="Kihniö">Kihniö</ion-select-option>
              <ion-select-option value="Kuhmoinen">Kuhmoinen</ion-select-option>
              <ion-select-option value="Lempäälä">Lempäälä</ion-select-option>
              <ion-select-option value="Mänttä-Vilppula"
                >Mänttä-Vilppula</ion-select-option
              >
              <ion-select-option value="Nokia">Nokia</ion-select-option>
              <ion-select-option value="Orivesi">Orivesi</ion-select-option>
              <ion-select-option value="Parkano">Parkano</ion-select-option>
              <ion-select-option value="Pirkkala">Pirkkala</ion-select-option>
              <ion-select-option value="Punkalaidun"
                >Punkalaidun</ion-select-option
              >
              <ion-select-option value="Pälkäne">Pälkäne</ion-select-option>
              <ion-select-option value="Ruovesi">Ruovesi</ion-select-option>
              <ion-select-option value="Sastamala">Sastamala</ion-select-option>
              <ion-select-option value="Tampere">Tampere</ion-select-option>
              <ion-select-option value="Urjala">Urjala</ion-select-option>
              <ion-select-option value="Valkeakoski"
                >Valkeakoski</ion-select-option
              >
              <ion-select-option value="Vesilahti">Vesilahti</ion-select-option>
              <ion-select-option value="Virrat">Virrat</ion-select-option>
              <ion-select-option value="Ylöjärvi">Ylöjärvi</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Esittely:</ion-label>
            <ion-textarea
              formControlName="details"
              autoGrow="false"
              rows="5"
              placeholder="Kerro lisää itsestäsi ja harjoittelun yksityiskohdista.."
            ></ion-textarea>
          </ion-item>
          <div class="ion-text-right ion-padding-end">
            <ion-button fill="clear" size="default" slots="end"
              >Poista haku</ion-button
            >
            <ion-button size="default" type="submit" slots="end"
              >Tallenna</ion-button
            >
          </div>
        </form>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>

<ion-content class="ion-padding" *ngIf="newUser">
  <ion-text><h1>Tervetuloa Työdiileriin</h1></ion-text>
  <ion-text><h3>Täytäthän tietosi ensin</h3></ion-text>
  <form *ngIf="!isLoading" [formGroup]="myData" (ngSubmit)="updateMyData()">
    <ion-item>
      <ion-label>Yritys:</ion-label>
      <ion-input type="text" formControlName="company"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Etunimi:</ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Sukunimi:</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Osoite:</ion-label>
      <ion-input type="text" formControlName="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Postinumero:</ion-label>
      <ion-input type="text" formControlName="zip"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Postitoimip.:</ion-label>
      <ion-input type="text" formControlName="city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Puhelin:</ion-label>
      <ion-input type="text" formControlName="phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button color="medium" type="submit">Tallenna</ion-button>
    </ion-item>
  </form>
</ion-content>
