<app-menu></app-menu>

<ion-content class="ion-padding">
  <div class="add-button-div ion-margin">
    <ion-icon
      name="add-outline"
      class="add-button"
      [routerLink]="['/addnew']"
      routerDirection="root"
    ></ion-icon>
  </div>
  <ion-accordion-group class="accordion-element">
    <ion-accordion value="omatTiedot" class="ion-no-padding">
      <ion-item slot="header">
        <ion-icon name="home-outline" class="ion-padding-end"></ion-icon>
        <ion-label class="ion-text-uppercase">Omat tiedot</ion-label>
      </ion-item>
      <ion-list slot="content" lines="none">
        <form [formGroup]="myData" (ngSubmit)="updateMyData()">
          <ion-item>
            <ion-label>Yritys:</ion-label>
            <ion-input
              type="text"
              formControlName="company"
              value="Esimerkki Oy"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Etunimi:</ion-label>
            <ion-input
              type="text"
              formControlName="firstName"
              value="Jaakko"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Sukunimi:</ion-label>
            <ion-input
              type="text"
              formControlName="lastName"
              value="Mikkonen"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Osoite:</ion-label>
            <ion-input
              type="text"
              formControlName="address"
              value="Kuusipolku 251"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Postinumero:</ion-label>
            <ion-input
              type="number"
              formControlName="zip"
              value="37500"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Postitoimip.:</ion-label>
            <ion-input
              type="text"
              formControlName="city"
              value="Lempäälä"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Puhelin:</ion-label>
            <ion-input
              type="text"
              formControlName="phone"
              value="+35840 5552438"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Email:</ion-label>
            <ion-input
              type="email"
              formControlName="email"
              value="{{auth.currentUser.email}}"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-button color="medium" type="submit">Tallenna</ion-button>
          </ion-item>
        </form>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="omaTyonhaku">
      <ion-item slot="header">
        <ion-icon name="hammer-outline" class="ion-padding-end"></ion-icon>
        <ion-label>Oma työnhaku</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-label>Omat työnhaut tässä</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="omatUrakat">
      <ion-item slot="header">
        <ion-icon name="construct-outline" class="ion-padding-end"></ion-icon>
        <ion-label>Omat urakat</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-label>Urakat tässä:</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
