<app-menu></app-menu>

<ion-content class="ion-padding" *ngIf="!newUser">
  <ion-accordion-group class="accordion-element">
    <ion-accordion value="omatTiedot" class="ion-no-padding">
      <ion-item slot="header">
        <ion-icon
          name="home-outline"
          size="large"
          class="ion-padding-end"
        ></ion-icon>
        <ion-label>Omat tiedot</ion-label>
      </ion-item>
      <ion-list slot="content" lines="none">
        <ion-item>
          <ion-text color="primary"><h2>Muokkaa omia tietoja</h2></ion-text>
        </ion-item>
        <ion-item>
          <ion-note color="tertiary">
            Nämä tiedot näkyvät muille käyttäjille hakuilmoituksessa silloin kun
            haet työtä tai harjoituspaikkaa tai kun tarjoat työtä muille
          </ion-note>
        </ion-item>
        <div class="divider ion-margin"></div>
        <form
          *ngIf="!isLoading"
          [formGroup]="myData"
          (ngSubmit)="updateMyData()"
        >
          <ion-item>
            <ion-label position="stacked">Yritys:</ion-label>
            <ion-input type="text" formControlName="company"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Etunimi:</ion-label>
            <ion-input type="text" formControlName="firstName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Sukunimi:</ion-label>
            <ion-input type="text" formControlName="lastName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Osoite:</ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Postinumero:</ion-label>
            <ion-input type="text" formControlName="zip"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Postitoimipaikka:</ion-label>
            <ion-input type="text" formControlName="city"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Puhelin:</ion-label>
            <ion-input type="text" formControlName="phone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Email:</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-button color="primary" type="submit" slot="end" size="default"
              >Tallenna</ion-button
            >
          </ion-item>
        </form>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="omaTyonhaku" class="ion-no-padding">
      <ion-item slot="header">
        <ion-icon
          size="large"
          name="hammer-outline"
          class="ion-padding-end"
        ></ion-icon>
        <ion-label>Oma työnhaku</ion-label>
      </ion-item>
      <ion-list slot="content" lines="none">
        <form
          *ngIf="!workDetailsLoading"
          [formGroup]="myWorkSearch"
          (ngSubmit)="updateWorkSearch()"
        >
          <ion-item>
            <ion-text color="primary">
              <h2>
                {{noWorkdetails? 'Aloita työnhaku': 'Muokkaa työnhakuasi'}}
              </h2>
            </ion-text></ion-item
          ><ion-item>
            <ion-note color="tertiary">
              {{noWorkdetails? 'Sinulla ei ole vielä työnhakuilmoitusta. Täytä
              työnhaun tiedot ja paina lopuksi Tallenna.': 'Sinulla on työnhaku
              käynnissä. Muokkaa tarvittaessa työnhaun tietoja.'}}
              <br /><br /><b>Tärkeää!</b> Tarkista myös, että yhteystietosi ovat
              oikein Omat tiedot-välilehdellä. Siellä olevat yhteystiedot
              tulevat hakemukseesi yhteystiedoiksi ja ne näkyvät muille
              käyttäjille</ion-note
            >
          </ion-item>

          <ion-button
            *ngIf="!noWorkdetails"
            class="ion-padding"
            expand="block"
            fill="solid"
            color="danger"
            (click)="deleteWorker()"
            ><ion-icon slot="end" color="light" name="trash-outline"></ion-icon>
            Poista työnhaku</ion-button
          >
          <div class="divider ion-margin"></div>
          <ion-label class="ion-padding-horizontal my-label"
            >Paikkakunnat:
          </ion-label>
          <ion-item
            class="white-bg ion-no-padding ion-margin-horizontal ion-margin-bottom"
          >
            <span class="icon-bg"
              ><ion-icon size="large" name="location-outline"></ion-icon
            ></span>
            <ion-select
              formControlName="locations"
              multiple="true"
              class="ion-padding-start"
              placeholder="Valitse kunnat"
              cancelText="Peruuta"
              okText="OK"
            >
              <ion-select-option value="Akaa">Akaa</ion-select-option>
              <ion-select-option value="Hämeenkyrö"
                >Hämeenkyrö</ion-select-option
              >
              <ion-select-option value="Ikaalinen">Ikaalinen</ion-select-option>
              <ion-select-option value="Juupajoki">Juupajoki</ion-select-option>
              <ion-select-option value="Kangasala">Kangasala</ion-select-option>
              <ion-select-option value="Kihniö">Kihniö</ion-select-option>
              <ion-select-option value="Kuhmoinen">Kuhmoinen</ion-select-option>
              <ion-select-option value="Lempäälä">Lempäälä</ion-select-option>
              <ion-select-option value="Mänttä-Vilppula"
                >Mänttä-Vilppula</ion-select-option
              >
              <ion-select-option value="Nokia">Nokia</ion-select-option>
              <ion-select-option value="Orivesi">Orivesi</ion-select-option>
              <ion-select-option value="Parkano">Parkano</ion-select-option>
              <ion-select-option value="Pirkkala">Pirkkala</ion-select-option>
              <ion-select-option value="Punkalaidun"
                >Punkalaidun</ion-select-option
              >
              <ion-select-option value="Pälkäne">Pälkäne</ion-select-option>
              <ion-select-option value="Ruovesi">Ruovesi</ion-select-option>
              <ion-select-option value="Sastamala">Sastamala</ion-select-option>
              <ion-select-option value="Tampere">Tampere</ion-select-option>
              <ion-select-option value="Urjala">Urjala</ion-select-option>
              <ion-select-option value="Valkeakoski"
                >Valkeakoski</ion-select-option
              >
              <ion-select-option value="Vesilahti">Vesilahti</ion-select-option>
              <ion-select-option value="Virrat">Virrat</ion-select-option>
              <ion-select-option value="Ylöjärvi">Ylöjärvi</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-label class="ion-padding-horizontal">
            Valitse päivämäärät:</ion-label
          >
          <ion-item class="white-bg ion-no-padding ion-margin-horizontal">
            <ion-calendar
              class="ion-no-padding"
              formControlName="dates"
              [options]="optionsMulti"
              [type]="string"
              [format]="'YYYY-MM-DD'"
            >
            </ion-calendar>
          </ion-item>
          <ion-item>
            <ion-label class="arealabel" position="stacked"
              >Lisätietoja:</ion-label
            >
            <ion-textarea
              formControlName="details"
              autoGrow="false"
              rows="5"
              placeholder="Kerro lisää toivomistasi työtehtävistä ja osaamisestasi"
            ></ion-textarea>
          </ion-item>
          <div class="ion-text-right ion-padding">
            <ion-button size="default" type="submit" slots="end"
              >Tallenna</ion-button
            >
          </div>
        </form>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="omatUrakat">
      <ion-item slot="header">
        <ion-icon
          size="large"
          name="construct-outline"
          class="ion-padding-end"
        ></ion-icon>
        <ion-label>Tarjoa työtä</ion-label>
      </ion-item>
      <ion-list slot="content" lines="none">
        <form
          *ngIf="!jobDetailsLoading"
          [formGroup]="jobForm"
          (ngSubmit)="addJob()"
        >
          <ion-item>
            <ion-text color="primary">
              <h2>Lisää uusi työ</h2>
            </ion-text></ion-item
          ><ion-item>
            <ion-note color="tertiary">
              Täytä alla olevat tiedot lisätäksesi uuden työn.
              <br /><br /><b>Tärkeää!</b> Tarkista myös, että yhteystietosi ovat
              oikein Omat tiedot-välilehdellä. Siellä olevat yhteystiedot
              tulevat hakemukseesi yhteystiedoiksi ja ne näkyvät muille
              käyttäjille</ion-note
            >
          </ion-item>
          <div class="divider ion-margin"></div>
          <ion-label class="ion-padding-horizontal">Paikkakunnat: </ion-label>
          <ion-item class="white-bg ion-no-padding ion-margin-horizontal">
            <span class="icon-bg"
              ><ion-icon size="large" name="location-outline"></ion-icon
            ></span>
            <ion-select
              formControlName="locations"
              multiple="true"
              class="ion-padding-start"
              placeholder="Valitse kunnat"
              cancelText="Peruuta"
              okText="OK"
            >
              <ion-select-option value="Akaa">Akaa</ion-select-option>
              <ion-select-option value="Hämeenkyrö"
                >Hämeenkyrö</ion-select-option
              >
              <ion-select-option value="Ikaalinen">Ikaalinen</ion-select-option>
              <ion-select-option value="Juupajoki">Juupajoki</ion-select-option>
              <ion-select-option value="Kangasala">Kangasala</ion-select-option>
              <ion-select-option value="Kihniö">Kihniö</ion-select-option>
              <ion-select-option value="Kuhmoinen">Kuhmoinen</ion-select-option>
              <ion-select-option value="Lempäälä">Lempäälä</ion-select-option>
              <ion-select-option value="Mänttä-Vilppula"
                >Mänttä-Vilppula</ion-select-option
              >
              <ion-select-option value="Nokia">Nokia</ion-select-option>
              <ion-select-option value="Orivesi">Orivesi</ion-select-option>
              <ion-select-option value="Parkano">Parkano</ion-select-option>
              <ion-select-option value="Pirkkala">Pirkkala</ion-select-option>
              <ion-select-option value="Punkalaidun"
                >Punkalaidun</ion-select-option
              >
              <ion-select-option value="Pälkäne">Pälkäne</ion-select-option>
              <ion-select-option value="Ruovesi">Ruovesi</ion-select-option>
              <ion-select-option value="Sastamala">Sastamala</ion-select-option>
              <ion-select-option value="Tampere">Tampere</ion-select-option>
              <ion-select-option value="Urjala">Urjala</ion-select-option>
              <ion-select-option value="Valkeakoski"
                >Valkeakoski</ion-select-option
              >
              <ion-select-option value="Vesilahti">Vesilahti</ion-select-option>
              <ion-select-option value="Virrat">Virrat</ion-select-option>
              <ion-select-option value="Ylöjärvi">Ylöjärvi</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item
            ><ion-label position="stacked">Ajankohta</ion-label
            ><ion-input
              placeholder="Päivämäärät, viikko, kuukausi tms"
              formControlName="timing"
            ></ion-input
          ></ion-item>
          <ion-item
            ><ion-label position="stacked">Tarkempi sijainti</ion-label
            ><ion-input
              placeholder="Osoite, kaupunginosa tms"
              formControlName="address"
            ></ion-input
          ></ion-item>
          <ion-item
            ><ion-label position="stacked">Työn kesto</ion-label
            ><ion-input
              placeholder="Tunteja, päiviä, viikkoja?"
              formControlName="duration"
            ></ion-input
          ></ion-item>
          <ion-item>
            <ion-label class="arealabel" position="stacked"
              >Lisätietoja:</ion-label
            >
            <ion-textarea
              formControlName="details"
              autoGrow="false"
              rows="5"
              placeholder="Kerro lisää työn yksityiskohdista ja vaadittavasta osaamisesta"
            ></ion-textarea>
          </ion-item>
          <div class="ion-text-right ion-padding">
            <ion-button size="default" type="submit" slots="end"
              >Tallenna</ion-button
            >
          </div>
        </form>
        <div class="divider ion-margin"></div>
        <ion-list-header>
          <ion-label>Omat työilmoitukset: </ion-label>
        </ion-list-header>
        <ion-item *ngFor="let job of jobsData">
          <app-my-job-card [job]="job"></app-my-job-card>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="trainee">
      <ion-item slot="header">
        <ion-icon
          size="large"
          name="happy-outline"
          class="ion-padding-end"
        ></ion-icon>
        <ion-label>Etsi harjoittelupaikkaa</ion-label>
      </ion-item>
      <ion-list slot="content" lines="none">
        <form
          *ngIf="!traineeDetailsLoading"
          [formGroup]="traineeData"
          (ngSubmit)="updateTraineeData()"
        >
          <ion-item>
            <ion-text color="primary">
              <h2>
                {{noTraineedetails? 'Aloita harjoitteluhaku': 'Muokkaa
                harjoitteluhakuasi'}}
              </h2>
            </ion-text></ion-item
          ><ion-item>
            <ion-note color="tertiary">
              {{noTraineedetails? 'Sinulla ei ole vielä harjoitteluilmoitusta.
              Täytä harjoittelun tiedot ja paina lopuksi Tallenna.': 'Sinulla on
              harjoitteluhaku käynnissä. Muokkaa tarvittaessa haun tietoja. '}}
              <br /><br /><b>Tärkeää!</b> Tarkista myös, että yhteystietosi ovat
              oikein Omat tiedot-välilehdellä. Siellä olevat yhteystiedot
              tulevat hakemukseesi yhteystiedoiksi ja ne näkyvät muille
              käyttäjille</ion-note
            >
          </ion-item>
          <ion-button
            *ngIf="!noTraineedetails"
            class="ion-padding"
            expand="block"
            fill="solid"
            color="danger"
            (click)="deleteTrainee()"
            ><ion-icon slot="end" color="light" name="trash-outline"></ion-icon>
            Poista harjoitteluhaku</ion-button
          >
          <div class="divider ion-margin"></div>
          <ion-label class="ion-padding-horizontal">Paikkakunnat: </ion-label>
          <ion-item class="white-bg ion-no-padding ion-margin-horizontal">
            <span class="icon-bg"
              ><ion-icon size="large" name="location-outline"></ion-icon
            ></span>

            <ion-select
              formControlName="locations"
              multiple="true"
              class="ion-padding-horizontal"
              placeholder="Valitse kunnat"
              cancelText="Peruuta"
              okText="OK"
            >
              <ion-select-option value="Akaa">Akaa</ion-select-option>
              <ion-select-option value="Hämeenkyrö"
                >Hämeenkyrö</ion-select-option
              >
              <ion-select-option value="Ikaalinen">Ikaalinen</ion-select-option>
              <ion-select-option value="Juupajoki">Juupajoki</ion-select-option>
              <ion-select-option value="Kangasala">Kangasala</ion-select-option>
              <ion-select-option value="Kihniö">Kihniö</ion-select-option>
              <ion-select-option value="Kuhmoinen">Kuhmoinen</ion-select-option>
              <ion-select-option value="Lempäälä">Lempäälä</ion-select-option>
              <ion-select-option value="Mänttä-Vilppula"
                >Mänttä-Vilppula</ion-select-option
              >
              <ion-select-option value="Nokia">Nokia</ion-select-option>
              <ion-select-option value="Orivesi">Orivesi</ion-select-option>
              <ion-select-option value="Parkano">Parkano</ion-select-option>
              <ion-select-option value="Pirkkala">Pirkkala</ion-select-option>
              <ion-select-option value="Punkalaidun"
                >Punkalaidun</ion-select-option
              >
              <ion-select-option value="Pälkäne">Pälkäne</ion-select-option>
              <ion-select-option value="Ruovesi">Ruovesi</ion-select-option>
              <ion-select-option value="Sastamala">Sastamala</ion-select-option>
              <ion-select-option value="Tampere">Tampere</ion-select-option>
              <ion-select-option value="Urjala">Urjala</ion-select-option>
              <ion-select-option value="Valkeakoski"
                >Valkeakoski</ion-select-option
              >
              <ion-select-option value="Vesilahti">Vesilahti</ion-select-option>
              <ion-select-option value="Virrat">Virrat</ion-select-option>
              <ion-select-option value="Ylöjärvi">Ylöjärvi</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Harjoittelun ajankohta:</ion-label>
            <ion-input
              formControlName="timing"
              placeholder="Milloin harjoittelu on"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-text>Ajokortti löytyy</ion-text>
            <ion-checkbox
              slot="start"
              mode="md"
              formControlName="hasLicense"
            ></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-text>Auto käytössä</ion-text>
            <ion-checkbox
              slot="start"
              mode="md"
              formControlName="hasCar"
            ></ion-checkbox
          ></ion-item>
          <ion-item>
            <ion-label class="arealabel" position="stacked"
              >Lisätiedot:</ion-label
            >
            <ion-textarea
              formControlName="details"
              autoGrow="false"
              rows="5"
              placeholder="Kerro lisää itsestäsi ja harjoittelun yksityiskohdista.."
            ></ion-textarea>
          </ion-item>
          <div class="ion-text-right ion-padding-end">
            <ion-button size="default" type="submit" slots="end"
              >Tallenna</ion-button
            >
          </div>
        </form>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
  <ion-content class="ion-padding" *ngIf="newUser">
    <ion-text><h1>Tervetuloa Työdiileriin</h1></ion-text>
    <ion-text><h3>Täytäthän tietosi ensin</h3></ion-text>
    <form *ngIf="!isLoading" [formGroup]="myData" (ngSubmit)="updateMyData()">
      <ion-item>
        <ion-label>Yritys:</ion-label>
        <ion-input type="text" formControlName="company"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Etunimi:</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Sukunimi:</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Osoite:</ion-label>
        <ion-input type="text" formControlName="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Postinumero:</ion-label>
        <ion-input type="text" formControlName="zip"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Postitoimip.:</ion-label>
        <ion-input type="text" formControlName="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Puhelin:</ion-label>
        <ion-input type="text" formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button color="medium" type="submit">Tallenna</ion-button>
      </ion-item>
    </form>
  </ion-content>
</ion-content>
