.accordion-element {
  background-color: #4fd5ff;
  padding: 10px;
}

.add-button-div {
  text-align: center;
}

.add-button {
  background-color: #4fd5ff;
  padding: 5px;
  color: white;
  font-size: 64px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.5);
}
