.accordion-element {
  background-color: #4fd5ff;
  padding: 10px;
}

.divider {
  border-bottom: 1px solid rgb(175, 175, 175);
  padding-top: 10px;
}

ion-content {
  --ion-background-color: #f2f2f2;
}

ion-accordion {
  --ion-background-color: #0041a1;
}

ion-accordion.accordion-expanding ion-item[slot="header"],
ion-accordion.accordion-expanded ion-item[slot="header"] {
  --ion-background-color: #0041a1;
  --color: white;
  ion-icon {
    color: white;
  }
}

ion-accordion.accordion-collapsing ion-item[slot="header"],
ion-accordion.accordion-collapsed ion-item[slot="header"] {
  --color: black;
  --ion-background-color: white;
  ion-icon {
    color: black;
  }
}

ion-list[slot="content"],
ion-list[slot="content"] {
  margin: 5px;
  border-radius: 15px 15px 0px 0px;
  --ion-background-color: #f2f2f2;
}

ion-textarea {
  --background: white;
  padding-left: 10px;
}

.icon-bg {
  background-color: #4fd5ff;
  padding: 5px;
}

.white-bg {
  --background: white;
}

ion-note {
  font-size: 14px;
  text-align: justify;
}

form {
  ion-item {
    ion-label {
      padding-bottom: 15px;
    }
    ion-input {
      --background: white;
      --padding-start: 5px;
    }
  }
}
