.icon-bg {
  --ion-item-background: #4fd5ff;
  --padding-start: 10px;
}

.white-bg {
  --background: white;
}

ion-item {
  --padding-start: none;
}

ion-content {
  --ion-background-color: #f2f2f2;
}

ion-input {
  --background: white;
}

ion-textarea {
  --background: white;
}

.entrytype {
  border: 1px solid #6c6a6a;
  padding-left: 10px;
  background-color: white;
}
