<app-menu></app-menu>
<ion-content class="ion-padding-horizontal" fullscreen="true">
  <h1>Lisää uusi työ tai työnhaku</h1>
  <ion-list lines="none">
    <ion-radio-group (ionChange)="addEntryType($event)">
      <ion-list-header class="ion-no-padding">
        <ion-label> Etsin: </ion-label>
      </ion-list-header>
      <div class="entrytype">
        <ion-item class="white-bg">
          <ion-label>Työtä</ion-label>
          <ion-radio slot="start" mode="md" value="worker"></ion-radio>
        </ion-item>
        <ion-item class="white-bg">
          <ion-label>Tekijää</ion-label>
          <ion-radio slot="start" mode="md" value="job"></ion-radio>
        </ion-item>
        <ion-item class="white-bg">
          <ion-label>Harjoittelupaikkaa</ion-label>
          <ion-radio slot="start" mode="md" value="trainee"></ion-radio>
        </ion-item>
      </div>
    </ion-radio-group>
    <ion-list-header class="ion-no-padding">
      <ion-label>Paikkakunnat: </ion-label>
    </ion-list-header>
    <ion-item class="white-bg">
      <ion-item class="icon-bg">
        <ion-icon size="default" name="location-outline"></ion-icon>
      </ion-item>
      <ion-select
        multiple="true"
        class="ion-padding-start"
        placeholder="Valitse kunnat"
        cancelText="Peruuta"
        okText="OK"
        (ionChange)="addLocations($event.target.value)"
      >
        <ion-select-option value="Akaa">Akaa</ion-select-option>
        <ion-select-option value="Hämeenkyrö">Hämeenkyrö</ion-select-option>
        <ion-select-option value="Ikaalinen">Ikaalinen</ion-select-option>
        <ion-select-option value="Juupajoki">Juupajoki</ion-select-option>
        <ion-select-option value="Kangasala">Kangasala</ion-select-option>
        <ion-select-option value="Kihniö">Kihniö</ion-select-option>
        <ion-select-option value="Kuhmoinen">Kuhmoinen</ion-select-option>
        <ion-select-option value="Lempäälä">Lempäälä</ion-select-option>
        <ion-select-option value="Mänttä-Vilppula"
          >Mänttä-Vilppula</ion-select-option
        >
        <ion-select-option value="Nokia">Nokia</ion-select-option>
        <ion-select-option value="Orivesi">Orivesi</ion-select-option>
        <ion-select-option value="Parkano">Parkano</ion-select-option>
        <ion-select-option value="Pirkkala">Pirkkala</ion-select-option>
        <ion-select-option value="Punkalaidun">Punkalaidun</ion-select-option>
        <ion-select-option value="Pälkäne">Pälkäne</ion-select-option>
        <ion-select-option value="Ruovesi">Ruovesi</ion-select-option>
        <ion-select-option value="Sastamala">Sastamala</ion-select-option>
        <ion-select-option value="Tampere">Tampere</ion-select-option>
        <ion-select-option value="Urjala">Urjala</ion-select-option>
        <ion-select-option value="Valkeakoski">Valkeakoski</ion-select-option>
        <ion-select-option value="Vesilahti">Vesilahti</ion-select-option>
        <ion-select-option value="Virrat">Virrat</ion-select-option>
        <ion-select-option value="Ylöjärvi">Ylöjärvi</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-list-header *ngIf="entryType==='worker'" class="ion-no-padding">
      <ion-label> Valitse päivämäärät:</ion-label>
    </ion-list-header>
    <ion-item *ngIf="entryType==='worker'" class="white-bg">
      <ion-calendar
        [(ngModel)]="dateMulti"
        [options]="optionsMulti"
        [type]="type"
        [format]="'YYYY-MM-DD'"
        (change)="onChange($event)"
      >
      </ion-calendar>
    </ion-item>

    <ion-list-header *ngIf="entryType==='job'" class="ion-no-padding"
      ><ion-label>Osoite/sijainti:</ion-label></ion-list-header
    >
    <ion-item *ngIf="entryType==='job'"
      ><ion-input
        class="ion-padding-horizontal"
        type="text"
        placeholder="Anna osoite tai sijainti"
        (ionChange)="addAddress($event.target.value)"
      ></ion-input
    ></ion-item>
    <ion-list-header class="ion-no-padding"
      ><ion-label>Muut huomiot:</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-textarea
        class="ion-padding-horizontal"
        autoGrow="true"
        placeholder="Anna halutessasi lisätietoa.."
        (ionChange)="getDetails($event.target.value)"
      ></ion-textarea>
    </ion-item>
    <div class="ion-margin-top ion-text-right ion-padding-end">
      <ion-button
        fill="clear"
        size="large"
        [routerLink]="['/mypage']"
        routerDirection="root"
        slots="end"
        >Peruuta</ion-button
      >
      <ion-button size="large" (click)="sendNewEntry()" slots="end"
        >Tallenna</ion-button
      >
    </div>
  </ion-list>
</ion-content>
