<app-menu></app-menu>>
<ion-content fullscreen="true">
  <h1 class="ion-padding-start">Työt</h1>
  <ion-item lines="none">
    <ion-select
      (ionChange)="filterLocations = $event.target.value"
      multiple="true"
      class="ion-padding-horizontal"
      placeholder="Valitse kunnat"
      cancelText="Peruuta"
      okText="OK"
      ><ion-select-option
        *ngFor="let location of locationList"
        value="{{location}}"
        >{{location}}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <ion-item
    ><ion-button (click)="getFiltered()">Hae tekijät</ion-button></ion-item
  >
  <app-job-card *ngFor="let job of jobsData" [job]="job"></app-job-card>
</ion-content>
