<ion-header>
  <ion-title><h1>TYÖDIILERI</h1></ion-title>
</ion-header>
<ion-content class="ion-padding">
  <h4>KIRJAUDU SISÄÄN</h4>
  <ion-button
    type="button"
    class="googleButton button-rad"
    (click)="signWithGoogle()"
    ><ion-icon slot="start" class="ion-padding" name="logo-google"></ion-icon>
    Google-kirjautuminen</ion-button
  >

  <ion-item lines="none" class="ion-text-center customDiv"
    ><ion-label>-- TAI --</ion-label></ion-item
  >
  <form [formGroup]="credentials" (ngSubmit)="login()">
    <ion-item class="ion-margin-bottom">
      <ion-input
        type="email"
        placeholder="Sähköpostiosoite"
        formControlName="email"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="(email.dirty || email.touched) && email.errors"
        >Sähköpostiosoite on virheellinen</ion-note
      >
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input
        type="password"
        placeholder="Salasana"
        formControlName="password"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="(password.dirty ||password.touched) && password.errors"
        >Salasanassa täytyy olla vähintään 6 merkkiä</ion-note
      >
    </ion-item>
    <ion-button
      class="ion-margin-bottom button-rad log-button"
      type="submit"
      [disabled]="!credentials.valid"
      >Kirjaudu sisään</ion-button
    >
  </form>

  <div class="divider ion-margin"></div>
  <ion-button
    type="button"
    class="ion-margin-top button-rad reg-button"
    [routerLink]="['/register']"
    routerDirection="root"
  >
    EI TILIÄ?<br />LUO UUSI TILI</ion-button
  >
</ion-content>
