<ion-header>
  <ion-title>Login page</ion-title>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="credentials" (ngSubmit)="login()">
    <ion-item class="ion-margin-bottom">
      <ion-input
        type="email"
        placeholder="Email"
        formControlName="email"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="(email.dirty || email.touched) && email.errors"
        >Email is invalid</ion-note
      >
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input
        type="password"
        placeholder="Password"
        formControlName="password"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="(password.dirty ||password.touched) && password.errors"
        >Password needs to have minimum 6 letters</ion-note
      >
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="!credentials.valid"
      >Login</ion-button
    >
  </form>
  <ion-button
    expand="full"
    type="button"
    class="ion-margin-top"
    [routerLink]="['/register']"
    routerDirection="root"
    >Create account</ion-button
  >
</ion-content>
