<app-menu></app-menu>
<ion-content>
  <ion-grid class="ion-padding-top ion-padding-horizontal">
    <ion-row>
      <ion-col class="ion-align-self-center"
        ><ion-text color="primary">
          <h1>Tekijät</h1>
        </ion-text></ion-col
      >
      <ion-col class="ion-text-end"
        ><ion-button class="filterbutton" (click)="showFilters=!showFilters"
          ><ion-icon size="large" slot="end" name="filter-outline"></ion-icon
          ><ion-label *ngIf="showFilters"
            >Piilota <br />
            rajausvalikko</ion-label
          >
          <ion-label *ngIf="!showFilters"
            >Rajaa<br />tuloksia</ion-label
          ></ion-button
        ></ion-col
      >
    </ion-row>
  </ion-grid>
  <ion-list lines="none" *ngIf="showFilters" class="ion-no-padding">
    <ion-item lines="none" class="filterbg">
      <ion-select
        (ionChange)="filterLocations = $event.target.value"
        multiple="true"
        class="ion-padding-horizontal"
        placeholder="Valitse kunnat"
        cancelText="Peruuta"
        okText="OK"
        ><ion-select-option
          *ngFor="let location of locationList"
          value="{{location}}"
          >{{location}}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item lines="none" class="filterbg"
      ><ion-calendar
        [(ngModel)]="dateRange"
        [options]="optionsRange"
        [type]="type"
        [format]="'YYYY-MM-DD'"
        >></ion-calendar
      ></ion-item
    >
    <ion-item class="filterbg"
      ><ion-button
        fill="solid"
        class="fetchbutton"
        [disabled]="!filterLocations || filterLocations.length === 0 || !dateRange"
        (click)="getFiltered()"
        >Hae tekijät</ion-button
      ></ion-item
    >
  </ion-list>
  <app-workercard
    *ngFor="let worker of workerData"
    [worker]="worker"
  ></app-workercard>
</ion-content>
