<ion-modal
  [isOpen]="modalOpen"
  [presentingElement]="routerOutlet.nativeEl"
  [showBackdrop]="true"
  [backdropDismiss]="true"
>
  <ng-template>
    <ion-content>Modaalisisältö</ion-content>
  </ng-template>
</ion-modal>
<ion-card>
  <ion-button (click)="modalOpen = true">Avaa modaali</ion-button>
  <ion-card-header>
    <ion-card-title>Lyhyt kuvaus</ion-card-title>
  </ion-card-header>
  <ion-item>
    <ion-label class="ion-text-wrap" *ngFor="let loc of job.locations"
      ><ion-button>{{ loc }}</ion-button></ion-label
    >
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      Ajankohta: {{ job.timing }}<br />Työn kesto: {{ job.duration
      }}<br />Sijainti: {{ job.address }}</ion-label
    >
  </ion-item>
  <ion-card-content> {{ job.details }} </ion-card-content>
</ion-card>
