<ion-card class="ion-no-padding"
  ><ion-item
    lines="none"
    (click)="showContact = !showContact"
    *ngIf="userdata"
    class="shortdata"
  >
    <ion-icon
      size="large"
      color="dark"
      name="hammer-outline"
      slot="start"
    ></ion-icon>
    <ion-label class="ion-text-wrap"
      >{{ userdata.firstName }} {{ userdata.lastName }} / {{ userdata.company }}
    </ion-label>
    <ion-icon
      slot="end"
      name="{{ showContact ? 'eye-outline' : 'eye-off-outline' }}"
    ></ion-icon>
  </ion-item>
  <ion-list
    class="contactInfo"
    lines="none"
    class="contactInfo ion-padding"
    *ngIf="showContact && userdata"
  >
    <ion-item lines="none">
      <ion-icon slot="start" name="location-outline"></ion-icon>
      <ion-label class="ion-text-wrap"
        >{{ userdata.zip }} {{ userdata.city }}</ion-label
      >
    </ion-item>
    <ion-item lines="none">
      <ion-icon slot="start" name="at-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        {{ userdata.email }}</ion-label
      ></ion-item
    >
    <ion-item button fill="outline" class="callButton" (click)="makeCall()">
      <ion-icon color="white" slot="start" name="call-outline"></ion-icon>
      <ion-label class="ion-text-wrap ion-padding-start"
        >Soita {{ userdata.phone }}</ion-label
      ></ion-item
    >
  </ion-list>

  <ion-item lines="none" class="cal">
    <ion-calendar [options]="getOptions(worker.dates)" readonly="true">
    </ion-calendar>
  </ion-item>
  <ion-item lines="none">
    <!-- <ion-icon name="information-circle" slot="end"></ion-icon> -->
    <ion-label class="ion-text-wrap">
      <ion-button *ngFor="let location of worker.locations">{{
        location
      }}</ion-button></ion-label
    >
  </ion-item>
  <ion-item lines="none" class="descript"
    ><ion-label class="ion-text-wrap">{{ worker.details }}</ion-label></ion-item
  >
</ion-card>
