<ion-content
  ><ion-list lines="none">
    <ion-list-header>Muokkaa työilmoitusta:</ion-list-header>
    <ion-item class="ion-padding-top">
      <ion-note color="tertiary">
        <b>Tärkeää!</b> Tarkista myös, että yhteystietosi ovat oikein Omat
        tiedot-välilehdellä. Siellä olevat yhteystiedot tulevat hakemukseesi
        yhteystiedoiksi ja ne näkyvät muille käyttäjille</ion-note
      >
    </ion-item>
    <form
      *ngIf="!formLoading"
      [formGroup]="modifiedData"
      (ngSubmit)="sendModifiedJob()"
    >
      <div class="divider ion-margin"></div>
      <ion-label class="ion-padding-horizontal">Paikkakunnat: </ion-label>

      <ion-item class="white-bg">
        <span class="loc-bg"
          ><ion-icon size="large" name="location-outline"></ion-icon
        ></span>
        <ion-select
          formControlName="locations"
          multiple="true"
          class="ion-padding-start"
          placeholder="Valitse kunnat"
          cancelText="Peruuta"
          okText="OK"
        >
          <ion-select-option value="Akaa">Akaa</ion-select-option>
          <ion-select-option value="Hämeenkyrö">Hämeenkyrö</ion-select-option>
          <ion-select-option value="Ikaalinen">Ikaalinen</ion-select-option>
          <ion-select-option value="Juupajoki">Juupajoki</ion-select-option>
          <ion-select-option value="Kangasala">Kangasala</ion-select-option>
          <ion-select-option value="Kihniö">Kihniö</ion-select-option>
          <ion-select-option value="Kuhmoinen">Kuhmoinen</ion-select-option>
          <ion-select-option value="Lempäälä">Lempäälä</ion-select-option>
          <ion-select-option value="Mänttä-Vilppula"
            >Mänttä-Vilppula</ion-select-option
          >
          <ion-select-option value="Nokia">Nokia</ion-select-option>
          <ion-select-option value="Orivesi">Orivesi</ion-select-option>
          <ion-select-option value="Parkano">Parkano</ion-select-option>
          <ion-select-option value="Pirkkala">Pirkkala</ion-select-option>
          <ion-select-option value="Punkalaidun">Punkalaidun</ion-select-option>
          <ion-select-option value="Pälkäne">Pälkäne</ion-select-option>
          <ion-select-option value="Ruovesi">Ruovesi</ion-select-option>
          <ion-select-option value="Sastamala">Sastamala</ion-select-option>
          <ion-select-option value="Tampere">Tampere</ion-select-option>
          <ion-select-option value="Urjala">Urjala</ion-select-option>
          <ion-select-option value="Valkeakoski">Valkeakoski</ion-select-option>
          <ion-select-option value="Vesilahti">Vesilahti</ion-select-option>
          <ion-select-option value="Virrat">Virrat</ion-select-option>
          <ion-select-option value="Ylöjärvi">Ylöjärvi</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item
        ><ion-label position="stacked">Ajankohta</ion-label
        ><ion-input
          placeholder="Päivämäärät, viikko, kuukausi tms"
          formControlName="timing"
        ></ion-input
      ></ion-item>
      <ion-item
        ><ion-label position="stacked">Tarkempi sijainti</ion-label
        ><ion-input
          placeholder="Osoite, kaupunginosa tms"
          formControlName="address"
        ></ion-input
      ></ion-item>
      <ion-item
        ><ion-label position="stacked">Työn kesto</ion-label
        ><ion-input
          placeholder="Tunteja, päiviä, viikkoja?"
          formControlName="duration"
        ></ion-input
      ></ion-item>
      <ion-item>
        <ion-label position="stacked">Lisätietoja:</ion-label>
        <ion-textarea
          formControlName="details"
          autoGrow="false"
          rows="5"
          placeholder="Kerro lisää työn yksityiskohdista ja vaadittavasta osaamisesta"
        ></ion-textarea>
      </ion-item>
      <div class="ion-text-right ion-padding">
        <ion-button
          fill="clear"
          size="default"
          slots="end"
          (click)="closeModal()"
          >Takaisin</ion-button
        >
        <ion-button size="default" type="submit" slots="end"
          >Tallenna</ion-button
        >
      </div>
    </form>
  </ion-list>
</ion-content>
