<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Valitse sivu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none">
      <ion-item [routerLink]="['/workforce']" routerDirection="root"
        >Työntekijät</ion-item
      >
      <ion-item [routerLink]="['/jobs']" routerDirection="root">Työt</ion-item>

      <ion-item [routerLink]="['/trainees']" routerDirection="root"
        >Harjoittelijat</ion-item
      >
    </ion-list>
  </ion-content>
</ion-menu>
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>TYÖDIILERI</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()"
        ><ion-icon name="log-out-outline" size="large"></ion-icon
      ></ion-button>

      <ion-icon
        name="person-circle-outline"
        size="large"
        [class]="
          isMyPage()
            ? 'ion-padding myicon_highlight'
            : 'ion-padding myicon_inactive'
        "
        [routerLink]="['/mypage']"
        routerDirection="root"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content id="main"> </ion-content>
